#root {
  max-width: 1280px;
  margin: 5em auto 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

ul {
  text-align: left;
  margin-left: 0;
  padding-left: 2em;
}

